.card-detail {
  width: 60%;
  margin: 2rem auto;
  text-align: center;
  background: linear-gradient(to bottom, #f9f9f9, #ececec);
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: fadeIn 1s ease-in-out;
}

.header-image {
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #ddd;
}

.content-image {
  width: 80%;
  margin: 1rem auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.content-image:hover {
  transform: scale(1.05);
}

.content-text {
  text-align: center;
  font-size: 1.2em;
  margin: 1em;
  line-height: 1.6;
  color: #333;
  animation: slideIn 1s ease-in-out;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(59, 57, 57);
  margin-bottom: 1rem;
  animation: zoomIn 0.5s ease-in-out;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
